<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Prosperity Pal</title>
    <script
      src="https://kit.fontawesome.com/52d7d1fdcd.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="headerSection">
      <h1 id="header"><%= quote %> - <em><%= author %></em></h1>
    </div>
  </body>
</html>
