<%- include('partials/header') %>

<div class="centered">
  <div class="container">
    <img id="prosperity-logo" src="/prosperity-pal.png" alt="" />
    <!-- <i class="fas fa-piggy-bank fa-6x"></i> -->
    <h1 class="display-3">Manage your money in a simple way</h1>
    <p class="lead">I'm your prosperity Pal!</p>
    <em class="author-name">Developed by Diego Espinosa</em>
    <hr />
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a> -->
    <div class="login-btn-container">
      <div class="card">
        <div class="card-body">
          <a
            class="btn btn-block"
            href="http://localhost:3000/auth/google"
            role="button"
          >
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
