h1 {
  color: red;
  text-align: center;
}

body {
  background-color: #ffffff;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.income {
  display: flex;
  flex-direction: column;
}

.incomeContainer form,
.expenseContainer form {
  display: flex;
  flex-direction: column;
}

.incomeExpense {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dataBlock {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.amountAndDate {
  display: flex;
  gap: 2px;
  align-items: center;
}

form button {
  background-color: aqua;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

form button:hover {
  transform: scale(0.95);
}

ul {
  margin: 0;
  padding: 0;
}
.incomeList,
.expenseList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  min-height: 2rem;
  border: #ccc solid 0.5px;
  padding: 0 0.5rem;
}
.incomeDate,
.expenseDate {
  padding: 5px;
  border: 0.5px solid #000;
  border-radius: 5px;
}

.balance-summary {
  text-align: center;
}

.editDelete {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.incomeBlock,
.expenseBlock {
  min-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0.5rem 0.2rem;
}
