h1 {
  color: #00dfdf;
  text-align: center;
}

.headerSection {
  background-color: #252121;
}

h1#header {
  font-size: 1rem;
  padding: 1rem;
}

body {
  background-color: #ffffff;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.balance-summary {
  padding: 2rem 1rem;
  border: #ccc solid 0.5px;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: inset 2px 2px 8px 3px #ccc;
}
#monthBalance {
  font-size: 2rem;
  color: rgb(13, 161, 13);
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.income {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#logout {
  position: absolute;
  text-decoration: none;
  padding: 1rem;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  right: 5px;
  top: 0;
  transition: all 0.3s ease;
}

#logout:hover {
  background-color: #00dfdf;
  color: #fff;
  font-weight: bold;
}
.incomeContainer form,
.expenseContainer form {
  display: flex;
  flex-direction: column;
}

.incomeExpense {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dataBlock {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.amountAndDate {
  display: flex;
  gap: 2px;
  align-items: center;
}

form button {
  background-color: aqua;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

form button:hover {
  transform: scale(0.95);
}

ul {
  margin: 0;
  padding: 0;
}
.incomeList,
.expenseList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  min-height: 2rem;
  border: #ccc solid 0.5px;
  padding: 0 0.5rem;
}
.incomeDate,
.expenseDate {
  padding: 5px;
  border: 0.5px solid #000;
  border-radius: 5px;
  font-size: 0.7rem;
}

.balance-summary {
  text-align: center;
}

.editDelete {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.incomeBlock,
.expenseBlock {
  min-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0.5rem 0.2rem;
}

.dataDescriptionConainer {
  margin: 1rem 0 2rem 0;
  gap: 5px;
  display: flex;
  justify-content: center;
  min-width: 90%;
}
.income-list,
.expense-list {
  /* display: none; */
  min-width: 50%;
}

.visible {
  display: block !important;
}

.showButton {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

#prev-month,
#next-month {
  padding: 0.5rem;
  cursor: pointer;
}
